# Add the downloaded toolchain to path
PATH_add ./xtensa-lx106-elf/bin/

# Add ESP8266 SDK to env
export IDF_PATH=~/projects/esp8266/ESP8266_RTOS_SDK
export ESPPORT=/dev/ttyUSB0

# Activate virtual environment
source ./.venv/bin/activate

# (Optional - for WSL) Bind USB serial device from Windows -> WSL
# if command -v usbipd.exe &> /dev/null; then
# 	usbipd.exe attach --wsl --busid 2-3
# fi

